<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body class="font-semibold">
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
    <div class="text-center">
      <h1>Mi sitio Astro</h1>
      <h1>Sobre mi</h1>
      <h2>... ¡y mi nuevo sitio Astro!</h2>

      <p>
        Estoy trabajando en el tutorial introductorio de Astro. Esta es la
        segunda página de mi sitio web, ¡y es la primera que he construido yo
        mismo!
      </p>

      <p>
        Este sitio se irá actualizando a medida que vaya completando más partes
        del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!
      </p>
    </div>
  </body>
</html>
