<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <div flex-row>
      <a href="/">Inicio</a>
      <a href="/about/">Sobre mi</a>
      <a href="/blog/">Blog</a>
    </div>
    <div class="text-center">
      <h1>Mi sitio Astro</h1>
      <h1>Mi blog de Astro aprendizaje</h1>
      <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    </div>
  </body>
</html>
