---
import Post from "../components/Post.astro";

const response = await fetch("http://localhost:3000/posts");
const posts = await response.json();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Astro-web</title>
  </head>
  <body>
    <h1 class="text-center text-3xl font-bold mb-6 mt-3">My Posts</h1>
    <div
      class="grid max-w-7xl mx-auto w-full justify-center justify-items-center items-center gap-4 px-2 sm:grid:cols-2 lg:grid-cols-3"
    >
      {posts.map((post) => <Post post={post} />)}
    </div>
  </body>
</html>
