---
import Post from "../components/Post.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Astro-web</title>
  </head>
  <body>
    <Post title="Cool Title" , description="Super Description" />
  </body>
</html>
